[Unit]
Description=Sigdata service

[Service]
User=pbs
WorkingDirectory=/home/pbs/dtvdata/venv/
ExecStart=/home/pbs/dtvdata/venv/bin/python3 sigdata.py
Restart=always

[Install]
WantedBy=multi-user.target

