[Unit]
Description="Run tscapproc.sh script to capture tranport stream and transcode streams

[Service]
User=pbs
WorkingDirectory=/home/tv/dtvdata/
ExecStart=/home/tv/dtvdata/tscapproc.sh


